@import 'bootstrap-reboot.min';
@import 'materialize.scss';
@import 'bloks/btn.scss';
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css');

:root {
  --font-color: #ffffff;
  --bg-color: #192f2d;
  --second-color: #278d9f;
}
label {
  margin: 0;
  padding: 0;
}
button,
button:focus {
  outline: none;
  border: none;
}
.container {
  padding: 0 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: rgba(39, 141, 159, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(157, 243, 255, 0.2) 100%
  );
}
