.home {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.greet {
  padding: 45px 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 593px;
  height: 249px;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(36, 197, 219, 0.15) 0%,
    rgba(36, 197, 219, 0) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;

  font-family: Neucha;
  font-weight: 400;
  font-size: 46px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);
}

.start {
  padding: 12px 112px;
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  width: 320px;
  height: 54px;
  background: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(36, 197, 219, 0.15) 0%,
    rgba(36, 197, 219, 0) 100%
  );
  backdrop-filter: blur(31px);
  border-radius: 30px;
  border: rgb(36, 197, 219) solid 2px;

  font-family: Steppe;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--font-color);
  transition: 0.5s all;
  &:hover {
    text-decoration: none;
    color: var(--second-color);
  }
}
