.footer {
  height: 50px;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .year {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--font-color);
  }
  .github {
    svg {
      transform: rotate(90deg);
      width: 30px;
      height: 35px;
      fill: var(--font-color);
      transition: 0.5s all;
      &:hover {
        fill: var(--second-color);
      }
    }
  }
  .course {
    svg {
      width: 120px;
      height: 45px;
      transition: 0.5s all;
      &:hover {
        fill: var(--second-color);
      }
    }
  }
}
